/*empty*/
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

header{
   position: relative;
   text-align: center;
   margin: 2%;
   overflow: hidden;
 }

 #TopPic{
   opacity: 0.75;
   width: 96vw; 
   height: 40vh;
 }

 #Title{
   position: relative;
   top: -20vh;
   color: white;
 }

body {
    font-family: Cambria;
    color: rgb(15, 15, 15);
    font-size: larger;
 }
 section{
   border: dashed;
   margin: 2%;
}
 div {
    margin: 2%;
 }

h2 {
   margin: 2%;
 }

 .description p {
    font-weight: bold;
 }

 button:hover {
   background-color: #8cd8b9;
   cursor: pointer;
}

.wrapper {
   display: flex;
}

.menuitem{
   flex-grow: 1;
   margin: 0%;
   text-align: center;
 }

 #MysIsak{
    background-color: #8cd8b9;
    color: rgb(0, 0, 0);
    grid-column: 1;
    grid-row: 1;
 }

 #GrönaFaran{
    background-color: #56c699;
    color: rgb(0, 0, 0);
    grid-column: 2;
    grid-row: 1;
 }

 #FruBillys{
    background-color: #35a075;
    color: rgb(255, 255, 255);
    grid-column: 3;
    grid-row: 1;
}

#FBFB{
    background-color: #236a4e;
    color: rgb(255, 255, 255);
    grid-column: 4;
    grid-row: 1;
}

#Cutiee{
    background-color: #1a503a;
    color: rgb(255, 255, 255);
    grid-column: 5;
    grid-row: 1;
}