/*empty*/
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: Cambria;
    color: rgb(15, 15, 15);
    font-size: larger;
 }
 section{
   border: dashed;
   margin: 2%;
}
 div {
    display: inline-block;
    margin: 2%;
 }

 .menuitem{
   height: 39vh;
   width: 10vw;
   margin: 0%;
 }

 header{
    margin: 2%;
    overflow: hidden;
 }

 #TopPic{
   opacity: 0.75;
   width: 96vw; 
   height: 40vh;
 }

 #Title{
   position: relative;
 }

h2 {
   margin: 2%;
 }

 .description p {
    font-weight: bold;
 }

 #MysIsak{
    background-color: #8cd8b9;
    color: rgb(0, 0, 0);
 }

 #GrönaFaran{
    background-color: #56c699;
    color: rgb(0, 0, 0);
 }

 #FruBillys{
    background-color: #35a075;
    color: rgb(255, 255, 255);
}

#FBFB{
    background-color: #236a4e;
    color: rgb(255, 255, 255);
}

#Cutiee{
    background-color: #1a503a;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #8cd8b9;
    cursor: pointer;
 }